<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Método de Euler.</title>
</head>
<body>
        <div class="container">
    <h2>
        Método de Euler
    </h2>
    <p>
            El método de Euler es el más básico y sencillo de los procedimientos usados para encontrar soluciones numéricas aproximadas, a una ecuación diferencial ordinaria de primer orden, siempre que se conozca su condición inicial. Una ecuación diferencial ordinaria (EDO) es la ecuación que relaciona una función desconocida de una sola variable independiente con sus derivadas. Si la mayor derivada que aparece en la ecuación es de grado uno, entonces se trata de una ecuación diferencial ordinaria de primer grado.

    </p>
    <div align="center"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/M%C3%A9todo_de_Euler.jpg/500px-M%C3%A9todo_de_Euler.jpg"></div>
    <br>
    <a href="/UNIDAD6/">Regresar</a>
    </div>
</body>
</html>