<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Simpson 3/8.</title>
</head>
<body>
        <div class="container">
    <h2>
        Simpson 3/8
    </h2>
    <p>
            La regla de Simpson se puede ampliar si se subdivide el intervalo [a, b] en n subintervalos, todos de la misma longitud h=b−an. Cuando el número de subdivisiones que se haga sea igual a tres, entonces el método recibe el nombre de la Regla de Simpson 3/8. Se le da ese nombre debido al factor 38h que aparece en la fórmula.
    </p>
    <div align="center"><img src="https://image.slidesharecdn.com/regladesimpsontresoctavos-141215193447-conversion-gate01/95/regla-de-simpson-tres-octavos-6-638.jpg?cb=1418672933"></div>
    <br>
    <a href="/UNIDAD5/">Regresar</a>
    </DIV>
</body>
</html>