<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Sistemas de ec. no lineales</title>
</head>
<body style="background-color:rgba(26, 224, 208, 0.808);">
    <div class="container">
    <h2>Sistemas de ec. no lineales</h2>
    <p>
       Un sistema de ecuaciones es un conjunto de dos o más ecuaciones que comparten dos o más incógnitas. Las soluciones de un sistema de ecuaciones son todos los valores que son válidos para todas las ecuaciones, o los puntos donde las gráficas de las ecuaciones se intersectan.
    </p>
    <div class="row">
            <div class="col-md-6">
                    <div align="center"><img src="http://www.montereyinstitute.org/courses/Algebra1/COURSE_TEXT_RESOURCE/U10_L2_T2_text_final_files_es/image024.gif"></div>
            </div>
            <div class="col-md-6">
                <a href="/pag21/">SISTEMA DE 2 ECUACIONES</a>
                <br>
                <a href="/pag22/">SISTEMA DE 3 ECUACIONES</a></li>
            </div>
        </div><a href="/UNIDAD1/">Regresar</a>
</body>
</html>