<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>UNIDAD  II</title>
</head>
<body>
    <div class="container">
    <h2>UNIDAD II</h2>    
    <ul>
        <li> <a href="/pag7/">Eliminación Gaussiana.</a></li>  
        <li> <a href="/pag8/">Gauss-Jordan.</a></li> 
        <li> <a href="/pag9/">L-U.</a></li> 
        <li> <a href="/pag10/">Gauss-Seidel.</a></li> 
    </ul>
    
    <a href="/">Regresar</a>
</div>
</body>
</html>