{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Tú usuario y password no coinciden. Por favor inténtalo de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tú no tienes permiso para acceder a este contenido!</p>
    {% else %}
    <p>Necesitas estar logueado para visualizar esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">¿Olvidaste tú contraseña?</a></p>

{% endblock %}