{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Por favor introduce y confirma tu nuevo password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuevo password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Repitélo:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar mi contraseña" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Falló, no pudimos cambiar tu password</h1>
        <p>El link de reestablecimiento de contraseña es inválido, probablemente ya fué usado. Genera un nuevo link.</p>
    {% endif %}

{% endblock %}